@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./theme.css";

* {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
}

body {
    font-family: var(--font-ibm-plex-mono), monospace;
}

a {
    color: var(--accent);
    text-decoration: none;
    transition:
        color 0.15s ease,
        opacity 0.15s ease;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--accent-visited);
}

a:visited.no-visited {
    color: var(--accent);
}

a,
button {
    cursor: pointer;
}

p {
    overflow: hidden;
}

code {
    background-color: var(--code-background);
}

pre>code {
    display: block;
    width: 100%;
    padding: 0.25rem;
    border-radius: 0.125rem;
    border: 1px solid var(--border);
}

table {
    border-collapse: collapse;
    border: 1px solid var(--border);
    width: 100%;
}

table th,
table td {
    padding: 0.25rem;
    border: 1px solid var(--border);
}