:root {
    --muted: #474747;
    --accent: #1a0dab;
    --accent-visited: #681da8;
    --border: #e5e5e5;
}

@theme inline {
    --font-sans: var(--font-ibm-plex-mono);
    --font-mono: var(--font-ibm-plex-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --muted: #bfbfbf;
        --accent: #99c3ff;
        --accent-visited: #c58af9;
        --border: #444444;
    }
}